[user]
	name = locolupo
	email = marcel.wolf@me.com
[core]
	editor = vim
	excludesfile = /data/home/mwolf/.gitignore_global
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
